body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* first part style  */
.flexible-container{
    display: flex;
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
    padding: 30px;
    margin-bottom: 70px;
}
.half-width{
    width: 485px;
    padding: 90px;
}
.half-width img{
    width: 556px;
    padding-left: 5px;
    padding-top: 30px;
}

h1{
    font-size: 64px;
    color:#FFFFFF;

}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
}
.link-button:hover{
    background-color: rgb(9, 169, 243);
}


/* middle part start here  */
.highlight-container{
    display: flex;
    margin-top: 109px;
    
}
.highlight-container{
    width: 469px;
}
.highlight-container p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
}
.highlight-container img{
    width: 567px;
    
}

 /* footer part start here  */
.footer-style{
    width: 483.87px;
    height: 213px;
    padding: 1%;
    text-align: center;
}
 .footer-style img{
     width: 484px;
     height: 110px;
 }
 .social-icon{
     align-items: center;
    text-align: center;
    padding: 20px;
    
 }
 .social-icon p{
     font-size: 18px;
     font-weight: normal;
    text-align: center;
    
 }